.button-row {
  margin: 0 0 1rem 0;
  button {
    margin-right: 1rem;
  }
}

.stardb-app .row {
  margin-bottom: 1rem;
}

.rhap_container {
  background-color: #444;
  border-radius: 5px;
  .rhap_time {
    color: #aaa;
  }
}

.btn {
  margin-bottom: 20px;
}
